*{
    box-sizing: border-box;
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

@font-face {
    font-family: Ermilov;
    src: url(./assets/fonts/Ermilov-bold.otf);
}

:root {
    --color-font: #fff;
    --background-color: #000;
    --label-color: #0000ff;
    ;
}

.wrapper {
    margin: 11.72vh auto;
    width: 66.67vw;
    height: 70.34vh;
    background-color: var(--background-color);
}

.image-for-slider {
    margin: 0 auto;
    width: 71.38%;
    height: 71.34%;
    overflow: hidden;
}

.image {
    width: 47.65%;
    height: 50.2%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    transition: 3s;
    transform: translate(150%);
}

.input1 {
    background-image: url(./assets/img/Louie_1.jpg);
}

.input2 {
    background-image: url(./assets/img/Louie_2.jpg);
}

.input3 {
    background-image: url(./assets/img/Louie_3.jpg);
}

.input4 {
    background-image: url(./assets/img/Louie_4.jpg);
}

.text {
    font: 400 2.5vw/2.5vw Ermilov;
    color: var(--color-font);
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 66.7%;
    transition: 2s;
    background-color: transparent;
    margin-top: 2vh;
}

input {
    display: none;
}

.label-block {
    margin: 15% 30% 0;
    width: 40%;
    text-align: center;
}

.label {
    display: inline-block;
    cursor: pointer;
    background-color: var(--label-color);
    border: 0.3vw solid var(--label-color);
    border-radius: 50%;
    width: 1.5vw;
    height: 2vh;
    margin: 0 0.4vw;
    transition: 0.7s;
}

.label:hover {
    background-color: var(--color-font);
    border-color: var(--color-font);
}

#input1:checked ~ .image-for-slider > .input1 {
    opacity: 1;
    z-index: 99;
    height: 50.2%;
    transform: translate(0);
}

#input2:checked ~ .image-for-slider > .input2 {
    opacity: 1;
    z-index: 99;
    height: 50.2%;
    transform: translate(0);
}

#input3:checked ~ .image-for-slider > .input3 {
    opacity: 1;
    z-index: 99;
    height: 50.2%;
    transform: translate(0);
}

#input4:checked ~ .image-for-slider > .input4 {
    opacity: 1;
    z-index: 99;
    height: 50.2%;
    transform: translate(0);
}

#input1:checked ~ .label-block > .label1,
#input2:checked ~ .label-block > .label2,
#input3:checked ~ .label-block > .label3,
#input4:checked ~ .label-block > .label4 {
    box-shadow: inset 0 0  2em 0.5em var(--background-color);
    border-color: var(--label-color);
}

#input1:checked ~ .text1 {
    opacity: 1;
    z-index: 99;
    transform: scale(1);
    transform: rotate(360deg);
}

#input2:checked ~ .text2 {
    opacity: 1;
    z-index: 99;
    transform: rotate(360deg);
}

#input3:checked ~ .text3 {
    opacity: 1;
    z-index: 99;
    transform: rotate(360deg);
}

#input4:checked ~ .text4 {
    opacity: 1;
    z-index: 99;
    transform: rotate(360deg);
}
